<div class="executions-list__header">
  <b>Execuções</b>
</div>

@for (execution of executionList(); track execution.id) {
  <div
    class="executions-list__item"
    [class.executions-list__item--selected]="currentExecution()?.id === execution.id"
  >
    <div
      class="executions-list__status"
      [ngClass]="'executions-list__status--' + execution.status.toLocaleLowerCase()"
    ></div>
    <div class="executions-list__data" (click)="selectExecution(execution)">
      <span>Jan 29, 12:24:05</span>
      <span>
        {{
          execution.status.charAt(0).toUpperCase() + execution.status.slice(1).toLocaleLowerCase()
        }}
        em 5.432ms
      </span>
    </div>

    @if (execution.status === 'ERROR') {
      <img src="refresh.svg" alt="" />
    }
  </div>
}
