<div class="executions-list__header">
  <b>Execuções</b>
</div>

<div class="executions-list__item">
  <div class="executions-list__status executions-list__status--success"></div>
  <div class="executions-list__data">
    <span>Jan 29, 12:24:05</span>
    <span>Sucesso em 5.432ms</span>
  </div>
</div>

<div class="executions-list__item">
  <div class="executions-list__status executions-list__status--success"></div>
  <div class="executions-list__data">
    <span>Jan 29, 12:25:13</span>
    <span>Sucesso em 5.432ms</span>
  </div>
</div>

<div class="executions-list__item">
  <div class="executions-list__status executions-list__status--error"></div>
  <div class="executions-list__data">
    <span>Jan 29, 12:25:32</span>
    <span>Erro em 5.432ms</span>
  </div>
   <img src="refresh.svg" alt="">
</div>
