:host {
  display: flex;
  flex-direction: column;
  padding: 8px;
  min-height: 0;
}
.executions-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #444444;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    border-radius: 4px;
    border-top: 1px solid #efefef;
    background-color: #ffffff;

    &:hover {
      background-color: #f3f3f3;
    }

    img {
      width: 24px;
      height: 24px;
      padding: 4px;
      margin-left: auto;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #e9e9e9;
      }
    }
  }

  &__status {
    width: 4px;
    height: 38px;
    border-radius: 8px;

    &--success {
      background-color: #66d95d;
    }

    &--error {
      background-color: #e44444;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;

    span {
      font-size: 14px;

      &:nth-child(2) {
        font-size: 12px;
        font-weight: 400;
        color: #666666;
      }
    }
  }
}
