.builder-container {
  display: flex;
}

// .f-external-item-preview.side-list__item {
//   display: flex;
//   gap: 8px;
//   padding: 8px;
//   border-radius: 4px;
//   border: 1px solid #dedede;

//   img {
//     width: 24px;
//     height: 24px;
//   }

//   span {
//     line-height: 24px;
//   }
// }
