:host {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  min-height: 0;
}
.side-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: #444444;

    img {
      &.expanded {
        transform: rotate(180deg);
      }
    }
  }

  &__item {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #efefef;
    background-color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ and Edge */
    user-select: none;         /* Standard property */

    &:hover {
      background-color: #f3f3f3;
    }

    span {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__item-icon {
    width: 24px;
    height: 24px; 
  }
}
