/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.2px;
}

* {
  box-sizing: border-box;
}